body{
    background: rgba(190, 37, 37, 0.986);
    font: normal 12pt Arial;
}

header{
    color: white;
    text-align: center;
}

input{
    width: 100px;
    margin: 5px;
}

section{
    background: white;
    min-width: 320px;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.575);
    margin: auto;
}

div#res{
    font: bold 15pt Arial;  
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

footer{
    color: white;
    font-style: italic;
    text-align: center;
}